version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: incidentdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  consul:
    image: hashicorp/consul:latest
    container_name: consul
    command: agent -server -ui -node=consul -bootstrap-expect=1 -client=0.0.0.0
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    volumes:
      - consul-data:/consul
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8500/v1/status/leader"]
      interval: 10s
      timeout: 5s
      retries: 5

  config-server:
    container_name: config-server
    build:
      context: ./ConfigServer
      dockerfile: Dockerfile
    ports:
      - "8888:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:80"
    depends_on:
      consul:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  incident-service:
    container_name: incident-service
    build:
      context: ./IncidentService
      dockerfile: Dockerfile
    ports:
      - "5048:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:80"
      CONSUL_HTTP_ADDR: consul:8500
      SERVICE_NAME: incident-service
      SERVICE_PORT: 80
      CONFIG_SERVER_URL: http://config-server:80
    depends_on:
      postgres:
        condition: service_healthy
      consul:
        condition: service_healthy
      config-server:
        condition: service_healthy
    volumes:
      - incident_images:/app/wwwroot/images/incidents
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  moderation-service:
    container_name: moderation-service
    build:
      context: ./ModerationService
      dockerfile: Dockerfile
    ports:
      - "6001:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:8080"
      CONSUL_HTTP_ADDR: consul:8500
      SERVICE_NAME: moderation-service
      SERVICE_PORT: 8080
      CONFIG_SERVER_URL: http://config-server:80
    depends_on:
      postgres:
        condition: service_healthy
      consul:
        condition: service_healthy
      config-server:
        condition: service_healthy
    volumes:
      - incident_images:/app/wwwroot/images/incidents
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  user-service:
    container_name: user-service
    build:
      context: ./UserService
      dockerfile: Dockerfile
    ports:
      - "7000:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:8080"
      CONSUL_HTTP_ADDR: consul:8500
      SERVICE_NAME: user-service
      SERVICE_PORT: 8080
      CONFIG_SERVER_URL: http://config-server:80
    depends_on:
      postgres:
        condition: service_healthy
      consul:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  api-gateway:
    container_name: api-gateway
    build:
      context: ./ApiGateway
      dockerfile: Dockerfile
    ports:
      - "5000:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:80"
      CONSUL_HTTP_ADDR: consul:8500
      CONFIG_SERVER_URL: http://config-server:80
    depends_on:
      incident-service:
        condition: service_healthy
      moderation-service:
        condition: service_healthy
      user-service:
        condition: service_healthy
      consul:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
      
  analytics-service:
    container_name: analytics-service
    build:
      context: ./AnalyticsService
      dockerfile: Dockerfile
    ports:
      - "7002:80"  # proizvoljan port
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:80"
      CONSUL_HTTP_ADDR: consul:8500
      SERVICE_NAME: analytics-service
      SERVICE_PORT: 80
      CONFIG_SERVER_URL: http://config-server:80
    depends_on:
      postgres:
        condition: service_healthy
      consul:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s

volumes:
  postgres_data:
  incident_images:
  consul-data: